* {
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    padding: 20px;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    background: rgb(158,237,238);
    background: linear-gradient(0deg, rgba(158,237,238,1) 17%, rgba(123,214,135,0.8591304347826088) 100%);}

.header h1 {
    font-size: 30px;
    display: flex-start;
    flex-direction: row;
    align-content: center;
}

.highlight {
    display: inline-block;
    padding: .25em 0;
    background:  rgba(72, 215, 94, 0.859) ;
    color: black;
}

header nav {
    display: flex-end;
    flex-direction: row;
    justify-content: space-between;
    justify-items: stretch;
    align-content: center;
    margin-top: 20px; 
    margin-left: 200px;
    padding: 0; 
}

.content section {
    display: flex;
    flex-direction: row;
}

.content h3 {
    color:rgba(72, 215, 94, 0.859);
    font-size: 40px; 
    border: solid;
    border-left-color: white;
    border-right-color: black;
    border-bottom-color: white;
    border-top-color: white;
    background-color: aquamarine;
    width: 30%;
}

#about-me p {
    display: flex-start;
    flex-direction: row;
    width: 70%;
    padding-left: 20px; 
}

#contact-me {
    flex-direction: row;
}

#contact-me a {
    display: flex-end;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: stretch;
    align-content: first baseline;
}

#number {
    padding-left: 20px; 
}